@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

:root{
    --box-shadow:0 1px 3px rgba(0,0,0,0.12)
}
*{
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

body{
    font-family: 'Kanit', sans-serif;
    display: flex;
    background-color: beige;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.container{
    margin:30px auto;
    width: 350px;
    
}

h1{
    letter-spacing: 1px;
    margin: 0;
}

h3{
    border-bottom: 1px solid #bbb;
    padding-bottom: 10px;
    margin: 40px 0 10px;
}

h4{
    margin: 0;
}

.income-expense-container{
    display: flex;
    justify-content: space-between;
    background-color: aliceblue;
    box-shadow: var(--box-shadow);
    padding: 20px;
    margin: 20px 0;
    
}

.income-expense-container>div{
    flex: 1;
    text-align: center;
    
}

.income-expense-container>div:first-of-type{
    border-right: 1px solid #dedede;
}

.money.plus{
    color: forestgreen;
}

.money.minus{
    color: crimson;
}

label{
    display: inline-block;
    margin: 10px 0;
}

input[type="text"],input[type="number"]{
    border: 1px solid #dedede;
    border-radius: 2px;
    display: block;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}

.btn{
        font-family: 'Kanit', sans-serif;
        background-color: aquamarine;
        cursor: pointer;
        color: black;
        margin: 10px 0 30px;
        box-shadow: var(--box-shadow);
        display: block;
        padding: 10px;
        font-size: 16px;
        width: 100%;
    
}

.list{
    list-style-type: none;  
    padding: 0;
    margin-bottom: 40px;
}
.list li{
    background-color: aliceblue;
    box-shadow: var(--box-shadow);
    color: #333;   
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 10px;
    margin: 10px 0;

}

.list li.plus{
    
    border-right: 5px solid forestgreen ;
}

.list li.minus{
    
    border-right: 5px solid crimson ;
}

.delete-btn{
    cursor: pointer;
    background-color: crimson;
    color: #ffffff;
    border: 0;
    font-size: 20px;
    line-height: 20px;
    padding: 2px 5px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-100%,-50%);
    opacity: 0; /*จะแสดงก็ต่อเมื่อนำเมาส์ไปชี้*/
    transition: opacity 0.3 ease; /*ทำงานร่วมกับ opacity effect*/

}

.list li:hover .delete-btn{  /*การทำงานร่วมกับ opacity effect เมิ่อเลื่่อนเมาส์จะแสดงผลออกมา*/
    opacity: 1;
}

.btn:focus,.delete-btn:focus{
    outline: 0;
}
