html{
    box-sizing: border-box;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='126' height='84' viewBox='0 0 126 84'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23b2cefe' fill-opacity='0.4'%3E%3Cpath d='M126 83v1H0v-2h40V42H0v-2h40V0h2v40h40V0h2v40h40V0h2v83zm-2-1V42H84v40h40zM82 42H42v40h40V42zm-50-6a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM8 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm96 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm-42 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm30-12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM20 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm12 24a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM8 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM8 78a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm12 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm54 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM50 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM50 78a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm54-12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm12 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM92 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM92 78a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24-42a4 4 0 1 1 0-8 4 4 0 0 1 0 8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
body{
    margin: 0;
    min-height: 100vh;
    overflow-y: hidden;
    display: flex;
    align-items: center;
}
.container{
    min-width: 580px;
    min-height: 304px;
    color: black;
    margin: 0  auto;
    padding: 25px 50px;
    border-radius: 5px;
    z-index: 2;
    background: rgba(255, 255, 255, 0.85);
    display: flex;
    justify-content: center;
}
.input-container{
    position: relative;
    top: 20px;
}
h1{
    font-size: 35px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
}
.form{
    width: 480px;
}
label{
    font-weight: bold;
    margin-left: 10px;
}
input{
    width: 95%;
    margin-bottom: 10px;
    padding: 10px ;
    border: 1px solid #ccc ;
    background: #fff;
    outline: none;
}
button{
    width: 100%;
    height: 40px;
    border-radius: 20px;
    margin-top: 15px;
    border: none;
    background: #45e6cd;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}
button:active{
    transform: scale(0.99);
}
ul{
    margin-left: -45px;
}
li{
    display: inline-block;
    font-size: 30px;
    list-style-type: none;
    padding: 10px;
}
li span{
    display: block;
    font-size: 80px;
    align-items: center;

}
.complete{
    position: relative;
    top: 60px;
}



